<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamieholdstock.crossword">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.tutorial.TutorialMenuActivity" />
        <activity android:name=".activities.tutorial.DevicesMenuActivity" />
        <activity android:name=".activities.tutorial.basics.BasicsActivity" />
        <activity android:name=".activities.tutorial.advanced.AdvancedActivity" />
        <activity android:name=".activities.tutorial.devices.AnagramActivity" />
        <activity android:name=".activities.tutorial.devices.HiddenWordActivity" />
        <activity android:name=".activities.tutorial.devices.DoubleDefinitionActivity" />
        <activity android:name=".activities.tutorial.devices.HomophoneActivity" />
        <activity android:name=".activities.tutorial.devices.AcrosticActivity" />
        <activity android:name=".activities.tutorial.devices.QuestionMarkActivity" />
        <activity android:name=".activities.tutorial.devices.DeletionActivity" />
        <activity android:name=".activities.tutorial.devices.ReversalActivity" />
        <activity android:name=".activities.AnagramSolverActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activities.SearchIndicatorsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activities.ClueSolverActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activities.WordFitActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

    </application>

</manifest>
